html {
    height: 100%;
}

body {
    background-color: #fcffc5;
}

h1 {
    font-size: 3em;
}


img {
    max-width: 100%;
}


main {
    border: 10px solid #292570;
    background-color: #444082;
}

div {
    background-color: #292570;
}